/Class_Work/chapter_23/nbproject/private/
/Class_Work/chapter_24/nbproject/private/
/Class_Work/chapter_24/build/
/Class_Work/swingCurd/nbproject/private/
/Class_Work/xml_22/nbproject/private/
/Class_Work/evidence_work/nbproject/private/
/Class_Work/evidence_work/build/
/Class_Work/xml/nbproject/private/
/Class_Work/xml/build/
/Class_Work/xml/dist/